*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  color: var(--main-text-color);
  font-family: "Encode Sans SC", Roboto, sans-serif;
  background-color: var(--main-bg-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html,
body {
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  width: calc(100vw - 100px);
  max-width: 1400px;
  margin: 50px auto;
  padding: 40px 0;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
}
