@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@400;600;800;900&display=swap");
// для перфоманса можно делать preload шрифтов и preconnect к ресурсам гугла, раз шрифт из гугл фонтс
// плюс нужно посмотреть какие font-weight используются на сайте, а лишнее не подключать
// вот пример подключения
// <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
// <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@400;600;800;900&display=swap">
// <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@400;600;800;900&display=swap">
@import "Design/mixins";
@import "Design/variables";
@import "BEM/assortment";
@import "BEM/cart-main";
@import "BEM/header";
@import "BEM/filtersandsorting";
// я так понимаю это файл с общими стилями, но тут подключаются стили для конкретных страницы
// то есть на выходе получается один файл css, в котором будут стили для всех страниц
// что выльется в проблемы при разрастании проекта
// поэтому лучше будет сделать один файл с общими стилями и подключать его везде
// а уникальные стили для каждой страницы подключать на эти страницы в отдельных файлах

// значит можно сделать структуру стилей в таком виде
// scss
// - common
// - - mixins.scss
// - - variables.scss
// - blocks
// - - assortment.scss
// - - header.scss
// - - ....scss
// - pages
// - - home.scss
// - - cart.scss
// styles.scss

// common импортируются в styles.scss
// styles подключается везде
// файлы из blocks импортируются в отдельные файлы pages
// файлы pages импортируются на конкретные страницы

body {
  box-sizing: border-box;
  // border-box стоит накидывать на все элементы + псевдоэлементы
  margin: 0 auto;
  padding: 0;
  color: var(--main-text-color);
  font-family: "Encode Sans SC", sans-serif;
  // не хватает коллбэк шрифтов на случай если этот не загрузится
  background-color: var(--main-bg-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  // по этому тэгу имеет смысл задавать стили через класс,
  // тк на разных страницах могут понадобиться разные стили
  padding: 40px 0;
  // и нужны ли тут стили, если логичнее задать паддинг .container?
}

.container {
  width: calc(100vw - 100px);
  max-width: 1400px;
  margin: 50px auto;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
}

// в целом советую погуглить набор дефолтных глобальных стилей
// например вот https://www.joshwcomeau.com/css/custom-css-reset/
