@mixin btnadd-and-orderinfo ($bordercolor, $bgcolor, $width) {
    border-radius: 30px;
    border: 1px solid $bordercolor;
    background-color: $bgcolor;
    width: $width;
    // миксин для информации по заказку, кнопки "добавить" и категорий
}

