:root {
    --bg-color: #ffdf8c;
    --gray-color: #7b7b7b;
    --orange-color: #fe5f1e;
    --main-color: #232323;
    --h1-color: #181818;
    --categories-color: #282828;
    --header-border-color: #f6f6f6;



    --container-indent: 40px;
}