.assortment{
    margin: 60px;
    &>h2{
        font-weight: 800;
        margin-bottom: 35px;
        font-size: 28px;
        line-height: 30px;
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 60px;
    }
    &__item{
        margin: 0 auto;
    }
    &__pizza-name{
        font-size: 20px;
        text-align: center;
    }
    &__price-to-add{
        font-weight: 600;
        font-size: 22px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__price::after{
        content: '\20BD';
        margin-left: 5px;
    }
    &__btn{
        font-weight: 700;
        font-size: 16px;
        color: var(--orange-color);
        padding: 10px 20px;
        @include button-categories-style(#fff, 130px);
        border: 1px solid var(--orange-color);
    }
    &__btn:hover{
        color: #fff;
        background-color: var(--orange-color);
        cursor: pointer;
        transition: .5s;
    }
    
}

.pizza-information{
    background-color: var(--pizza-info-color);
    font-size: 14px;
    font-weight: 700;
    padding: 6px;
    text-align: center;
    border-radius: 10px;
    &__type {
        display: flex;
        flex-wrap: wrap
    }
    &__item{
        @include pizza-info;
    }
    &__item_clicked{
        background-color: #fff;
    }

    &__size{
        display: flex;
    }
    &__size > span{
        @include pizza-info;
    }
    &__type > span:hover{
        cursor: pointer;
        transition: .5s;
    }
    &__size > span:hover{
        cursor: pointer;
        transition: .5s;
    }
}
