.pizza-types-and-sort {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 60px;

  @media (max-width: 840px) {
    flex-direction: column;
  }
}

.filter-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0 10px;
  font-weight: 700;

  &__item {
    display: inline-block;
    height: min-content;
    padding: 13px 30px;
    background-color: var(--color-bg-filter-item);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      filter: brightness(98%);
    }

    &_active {
      color: var(--color-text-filter-item);
      background-color: var(--color-bg-filter-item-active);

      &:hover {
        background-color: var(--color-bg-filter-item-active-hover);
      }
    }
  }
}

.sort-wrap {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sort {
  position: relative;

  &__title {
    font-weight: 700;
    cursor: pointer;
  }

  &__button {
    color: var(--color-text-button-sort);
    font-size: inherit;
    font-family: inherit;
    text-transform: lowercase;
    text-decoration: underline dashed 1px;
    background-color: var(--color-bg-button-sort);
    border: none;
    cursor: pointer;
  }

  &__list {
    position: absolute;
    top: 15px;
    right: 0;
    display: none;
    min-width: 160px;
    padding: 10px 0;
    text-transform: lowercase;
    background-color: var(--color-bg-modal-list);
    border-radius: 10px;
    box-shadow: 3px 3px 8px var(--color-shadow-sort);

    &_open {
      display: block;
    }
  }

  &__item {
    padding: 12px 20px;
    cursor: pointer;
  }

  &__item:hover {
    background-color: var(--color-bg-modal-list-item-sort-hover);
    transition: background-color 0.3s;
  }

  &__svg {
    cursor: pointer;
  }

  &__svg:active {
    transform: rotate(180deg);
    transition: transform 0.5s;
  }
}
