.pizza-types-and-sort {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-evenly;

    @media (max-width: 840px) {
        flex-direction: column;
    }
}

.filter-categories {
    display: flex;
    gap: 15px;
    font-weight: 700;
    margin: 0;

    padding: 0 10px 0;
    flex-wrap: wrap;

    &__item {
        padding: 13px 30px;
        display: inline-block;
        cursor: pointer;
        border-radius: 30px;
        background-color: #f9f9f9;

        height: min-content;
        transition: filter 0.3s;

        &:hover {
            filter: brightness(98%);
        }

        &_active {
            background-color: var(--categories-color-hover);
            color: #FFF;
            &:hover{
                filter: brightness(200%);
            }
        }
    }

}

.sort {
    position: relative;

    &__title {
        font-weight: 700;
        cursor: pointer;
    }

    &__choosen {
        text-transform: lowercase;
        text-decoration: underline dashed 1px;
        border: none;
        background-color: #FFF;
        color: var(--orange-color);
        font-family: inherit;
        font-size: inherit;
        cursor: pointer;
    }

    &__list {
        position: absolute;
        border-radius: 10px;
        background-color: #FFF;
        padding: 10px 0;
        min-width: 160px;

        right: 0;
        top: 15px;
        display: none;
        text-transform: lowercase;
        &_open{
            display: block;
        }
    }

    &__item {
        padding: 12px 20px;
        cursor: pointer;
    }

    &__item:hover{
        transition: .3s;
        background-color: rgba(254, 95, 30, 0.05);
    }

    &__svg {
        cursor: pointer;
    }

    &__svg:active {
        transition: .5s;
        transform: rotate(180deg);
    }


}
