.pizza-types-and-sort {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-evenly;

    @media (max-width: 840px) {
        flex-direction: column;

    }
}

.types {
    display: flex;
    gap: 15px;
    font-weight: 700;
    margin: 0;

    padding: 0;
    flex-wrap: wrap;

    &__item {
        padding: 13px 30px;
        display: inline-block;
        cursor: pointer;
        transition: .3s;
        border-radius: 30px;
        background-color: #f9f9f9;

        height: min-content;
    }

    &__item:hover {
        background-color: darken($color: #f9f9f9, $amount: 2%);
    }
}
@media (max-width: 1280px){
// Задел под btn
}

.sort {
    position: relative;

    &__title {
        font-weight: 700;
        cursor: pointer;
    }

    &__choosen {
        text-transform: lowercase;
        text-decoration: underline dashed 1px;
        border: none;
        background-color: #FFF;
        color: var(--orange-color);
        font-family: inherit;
        font-size: inherit;
        cursor: pointer;
    }

    &__list {
        position: absolute;
        border-radius: 10px;
        background-color: #FFF;
        padding: 10px 0;
        min-width: 160px;

        right: 0;
        top: 15px;
        display: none;
        text-transform: lowercase;
    }

    &__item {
        padding: 12px 20px;
        cursor: pointer;
    }

    &__item:hover {
        transition: .3s;
        background-color: rgba(254, 95, 30, 0.05);
    }

    &__svg {
        cursor: pointer;
    }

    &__svg:active {
        transition: .5s;
        transform: rotate(180deg);
    }

}


.active {
    // класс для джс(стиль при клике на одну из категорий)
    background-color: var(--categories-color-hover);
    color: #FFF;
}

.open {
    // класс для джс (список сортировки)
    display: block;
}