@mixin button-categories-style($bgcolor, $width) {
  // миксин для информации по заказку, кнопки "добавить"

  width: $width;
  background-color: $bgcolor;
  border-radius: 30px;
}

@mixin pizza-info {
  // Миксин для блока с информацией для пицц(размеры, тип)

  flex: 1 1;
  padding: 8px;
  background-color: transparent;
  border-radius: 5px;
}
