.main-empty-cart {
  max-width: 560px;
  margin: 90px auto;
  padding: 40px 0;
  text-align: center;

  &__title {
    font-size: 32px;
  }

  &__text {
    color: var(--color-text-basket);
    font-size: 18px;
    line-height: 145%;
  }

  &__image {
    width: 300px;
    height: auto;
    margin: 45px 130px 60px;
  }

  &__link {
    display: block;
    margin: 0 auto;
    padding: 12px 0 14px;
    color: var(--color-text-button-comeback-basket);
    font-weight: 700;
    font-size: 18px;

    @include button-categories-style(#000, 230px);
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--color-bg-button-comeback-basket-hover);
    transition: background-color 0.3s;
  }

  &__link:active {
    position: relative;
    top: 2px;
  }
}
