// @import './Design/mixins.scss';
// тоже один файл и 4 блока + сразу селектор по тэгу
// некст ревью после разбивки по отдельным файлам и переработки структуры по БЭМ
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 60px;
  padding: 40px 0;

  @media (max-width: 700px) {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
}

.header {
  border-bottom: 1px solid var(--color-border-header);
}

.logo-name-block {
  display: flex;

  &__text > h1 {
    display: block;
    margin: 0;
    font-size: 24px;
    text-transform: uppercase;
  }

  &__text > p {
    margin: 0;
    color: var(--color-text-header);
    font-size: 15px;
    text-transform: lowercase;
  }

  &__logo {
    margin-right: 10px;
  }

  &__link {
    color: var(--color-text-title);
  }
}

.order {
  display: flex;
  font-weight: 600;
  transition: background-color 1s;

  @include button-categories-style(var(--color-bg-order), 140px);

  @media (max-width: 700px) {
    height: 49px;
    margin-top: 10px;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    filter: brightness(90%);
    transition: brightness 2s;

    // шо за хуйня
  }

  &:active {
    position: relative;
    top: 2px;
    filter: brightness(85%);

    // шо за хуйня
  }

  &__link {
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: var(--color-text-link);
  }

  &__price::after {
    margin-left: 5px;
    content: "\20BD";
  }

  &__quantity {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__quantity::before {
    width: 1px;
    height: 25px;
    margin-left: 10px;
    background-color: #ffffff40;
    content: "";
  }
}
